

#about {
    text-align: center;
    padding: 40px;
  }
  #about img {
    width: 200px;
    border-radius: 50%;
  }
  #about h1 {
    margin: 25px;
  }
  section {
    padding-bottom: 40px;
  }
  .card .card-header {
    cursor: pointer;
  }

#contact div {
  display: inline-block;
  width: 150px;
  height: 100px;
}

#certifications div {
  display: inline-block;
  width: 150px;
  height: 100px;
}

 .visitoyvind li {
   position: relative;
   top:0;
   right: 0;
 }
 
.badge-success {
  position: relative;
   top:0;
   right: 0;
 }

#visitoyvind2 {
  position: absolute;
  top: 0;
  right: 0;
}